.header {
  background-color: blueviolet;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}

.color {
  color: #f5f5f5;
  transition: color 0.3s ease; /* Transition only on the color property */
}

.color:hover {
  color: #282a2c; /* Change color on hover */
}
